<a href="https://colab.research.google.com/github/19k41a0516/AI/blob/main/LR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# WEEK-4 : Logistic Regression

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data = pd.read_csv('/content/drive/MyDrive/LR')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
data.drop(['User ID'], axis = 1, inplace = True)
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    object
 1   Age              400 non-null    int64
 2   EstimatedSalary  400 non-null    int64
 3   Purchased        400 non-null    int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB
None

In [6]:
varlist =  ['Gender']
def binary_map(x):
    return x.map({'Male': 1, "Female": 0})

data[varlist] = data[varlist].apply(binary_map)
data.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

In [7]:
scaler = MinMaxScaler()

num_vars = ['Age', 'EstimatedSalary']
data[num_vars] = scaler.fit_transform(data[num_vars])

data

     Gender       Age  EstimatedSalary  Purchased
0         1  0.023810         0.029630          0
1         1  0.404762         0.037037          0
2         0  0.190476         0.207407          0
3         0  0.214286         0.311111          0
4         1  0.023810         0.451852          0
..      ...       ...              ...        ...
395       0  0.666667         0.192593          1
396       1  0.785714         0.059259          1
397       0  0.761905         0.037037          1
398       1  0.428571         0.133333          0
399       0  0.738095         0.155556          1

[400 rows x 4 columns]

In [8]:
df_train, df_test = train_test_split(data, train_size = 0.7, test_size = 0.3, random_state = 100)

In [9]:
y_train = df_train.pop('Purchased')
X_train = df_train
y_test = df_test.pop('Purchased')
X_test = df_test

In [10]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()
lr_model.fit(X_train,y_train)

LogisticRegression()

In [11]:
y_pred_train = lr_model.predict(X_train)
y_pred_test = lr_model.predict(X_test)

In [ ]:
print(" Training Accuracy",lr_model.score(X_train, y_train))
print(" Testing Accuracy",lr_model.score(X_test, y_test))

In [13]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred_test)

array([[73,  2],
       [22, 23]])

In [14]:
confusion_matrix(y_train, y_pred_train)

array([[171,  11],
       [ 40,  58]])

In [16]:
list_of_columns = data.columns
input_data=pd.DataFrame(columns=list_of_columns)
input_data.drop(['Purchased'], axis='columns', inplace=True)

input_data.at[0, 'Gender'] = input('Enter Gender')
input_data.at[0, 'Age'] = int(input('Enter Age'))
input_data.at[0, 'EstimatedSalary'] = int(input('Enter Salary'))

# Defining the map function
def binary_map(x):
    return x.map({'Male': 1, "Female": 0})

# Applying the function to the housing list
input_data[varlist] = input_data[varlist].apply(binary_map)


input_data['Age']=(input_data['Age']-data['Age'].min())/(data['Age'].max()-data['Age'].min())
input_data['EstimatedSalary']=(input_data['EstimatedSalary']-data['EstimatedSalary'].min())/(data['EstimatedSalary'].max()-data['EstimatedSalary'].min())
y_pred =  lr_model.predict(input_data)

if(y_pred[0]==1):
  print('Will purchase product')
if(y_pred[0]==0):
  print('Will not purchase product')

Enter GenderMale
Enter Age20
Enter Salary19000
Will purchase product